$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Send Flowers', cursive;
$color-background: #FCE6B8;
$color-text: black;
$color-primary: #E63979;
$color-secondary: #D89308;
$color-footer: #8B123E;
$header-height: 80px;